body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.v-btn {
  transition: 0.3s;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.v-btn:hover {
  filter: brightness(0.95);
}